@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
/* -------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* --------------------------------------- */
$Orange: hsl(26, 100%, 55%);
$Pale_orange: hsl(25, 100%, 94%);
$Very_dark_blue: hsl(220, 13%, 13%);
$Dark_grayish_blue: hsl(219, 9%, 45%);
$Grayish_blue: hsl(220, 14%, 75%);
$Light_grayish_blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black-modal: hsla(0, 0%, 0%, .5);

$font : "Kumbh Sans", sans-serif;

/* -------------------------------------- */
@mixin flex ( $alint, $justy){
    display: flex;
    align-items: $alint;
    justify-content: $justy;
}
@mixin grid ($gri_tem_co, $gri_tem_ar, $gap){
    display: grid;
    grid-template-columns: $gri_tem_co;
    grid-template-rows: $gri_tem_ar;
    gap: $gap;
}
@mixin modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $Black-modal;
    width: 100%;
    height: 100%;
    display: none;
}